<canvas id="canvas" width="464" height="660"></canvas>
 

<div id="titles">
 	<input id="title" class="poster-title" value="Title">
 	<input id="subtitle" class="poster-title" value="Subtitle">
</div>

<div id="controls">

	<table class="selectors">
		<tr>
			<th>City</th>
			<th>Disaster</th>
			<th>You</th>
			<th></th>
		</tr>
		<tr>
			<td>
<select id="select-background">
  <option value="0">none</option>
  <option value="1">hagen</option>
</select>
			</td>
			<td>
<select id="select-disaster">
  <option value="0">none</option>
  <option value="1">lightning</option>
</select>
			</td>
			<td>
<select id="select-silhouette">
  <option value="0">none</option>
  <option value="1">god</option>
  <option value="2">xray</option>
  <option value="3">drill</option>
  <option value="3">hammer</option>
</select>
			</td>
		</tr>
	</table>

	<div class="buttons">
		<button id="snap">Ready</button>
		<button id="clear">Back</button>
		<button id="submit">Save & Share</button>			
	</div>


</div>

