<p>Urbane Künste Ruhr, 72 Hour Urban Action und Invisible Playground laden dich ein zu</p>

<p><b>72 HOUR INTERACTIONS – EINE WELTMEISTERSCHAFT SPIELBARE ARCHITEKTUR - 2014 in WITTEN</b></p>

<p><b>BEWIRB' DICH</b> bis 18. MAI, Auswahl bis 23. MAI, Zeit vor Ort in Witten 21.-27. JULI</b></p>

<p><b>DU BEKOMMST:</b> bis zu 2000€ für Material, zentrales Camp mit Workshop, Schlafplatz, Verpflegung, "Angels": Bau- und Sicherheits-Experten, Transporter, Dokumentation, cooler Preis für das Siegerteam</p>

<p><b>BRING MIT:</b> Design- und Arbeitsmittel, Laptop und CAD Sofrware (optional), Energie, Leidenschaft, Inspiration</p>

<p>Hinweis: <b>Wir gruppieren ausgewählte Teilnehmer zu Teams.</b></p>

<p>Bewerbung und Teilnahme sind kostenlos und offen für alle über 18. Der Veranstalter behält sich das Recht vor, die Teilnahmebedingungen jederzeit zu ändern. Reisekosten und individuelle Versicherung werden nicht durch den Veranstalter übernommen.</p> 