<p>Urbane Künste Ruhr, 72 Hour Urban Action and Invisible Playground are proud to invite you to</p>
<p><b>72 HOUR INTERACTIONS – A WORLD CHAMPIONSHIP OF GAMEFUL ARCHITECTURE</b><br>in <b>WITTEN, GERMANY, 2014</b></p>

<p><b>APPLY</b> by MAY 18, selection by MAY 23, event JULY 21-27</b></p>

<p><b>GET</b> Up To 2000€ For Materials, Central Prefabrication Camp, Sleeping Accommodations, Food, Angels Team: Construction & Safety Engineers, Truck, Documentation, Cool Prize for the winning team</p>

<p><b>BRING</b> Design and Work Tools, A Portable Computer + CAD Software (optional), Energy, Passion, Inspiration</p>

<p>Please note: <b>We group selected applicants together into teams.</b></p>

<p>Application and participation are free and open to all. Participation is according to competition regulations. The production reserves its right to change the rules of the competition at any time. Travel and personal insurance costs will not be covered by the competition.</p> 