<p>Urbane Künste Ruhr, 72 Hour Urban Action und Invisible Playground laden dich herzlich ein zu</p>

<p><b>72 HOUR INTERACTIONS – EINE WELTMEISTERSCHAFT FÜR SPIELBARE ARCHITEKTUR - 2014 in WITTEN</b></p>

<p><b>BEWIRB' DICH</b> bis 18. Mai, Auswahl bis 23. Mai, Zeit vor Ort in Witten 21.-27. Juli</b></p>

<p><b>DU BEKOMMST</b> bis zu 2000€ für Material, ein zentrales Camp mit Workshop, Schlafplatz, Verpflegung, Unterstützung durch Bau- und Sicherheits-Experten ("Angels"), Transporter, Dokumentation, einen Preis (wenn du zum Siegerteam gehörst!)</p>

<p><b>BRING MIT:</b> Design- und Arbeitsmittel, Laptop und CAD Software (optional), Energie, Leidenschaft, Inspiration</p>

<p>Hinweis: <b>Wir gruppieren ausgewählte Teilnehmer zu Teams.</b></p>

<p>Bewerbung und Teilnahme sind kostenlos und offen für alle über 18 Jahren. Der Veranstalter behält sich das Recht vor, die Teilnahmebedingungen jederzeit zu ändern. Reisekosten und individuelle Versicherung werden nicht durch den Veranstalter übernommen.</p> 