<h4>Kann ich mich noch bewerben?</h4>
<p>Nein, die Bewerbungsfrist ist bereits abgelaufen.</p>

<h4>Warum ist das Formular auf English?</h4>
<p>Es ist ein internationaler Wettbewerb, bei dem englische Sprachkenntnisse für die Teilnahme in einem der Teams Pflicht sind. Wenn du das Formular nicht verstehst, kannst du leider nicht im Wettbewerb teilnehmen. Natürlich bist du herzlich eingeladen, vor Ort mitzufiebern und anzufeuern!</p>

<h4>Was ist spielbare Architektur? </h4>
<p>Das wollen wir bei 72 Hour Interactions herausfinden! Wenn du eine Idee hast, wollen wir sie sehen!</p>

<h4>Wie bewerbe ich mich?</h4>
<p>Die Bewerbung erfolgt direkt hier auf der Website. Fülle einfach das Formular oben aus.</p>

<h4>Kann ich bereits existierende Designs oder Projekte in 72 Hour Interactions umsetzen?</h4>
<p>Nein. Alle Designs und Konstruktionen müssen im Verlauf des 72-Stunden-Zeitrahmens erfolgen. Da die Teams erst für den Wettbewerb gebildet werden, ist Zusammenarbeit sehr wichtig.</p>

<h4>Gibt es eine Mindest- oder maximale Gruppengröße bei der Bewerbung?</h4>
<p>Ja. Minimum: 1, Maximum: 6. Im Auswahlprozess erweitern wir deine Gruppe zu einem internationalen Team aus 10-12 Teilnehmern. Dies ist ein großer Teil des Spaßes und bedeutet, dass du deinen Teammitgliedern sehr Nahe kommst und hautnah mitbekommst, wie andere Kreative im öffentlichen Raum denken und arbeiten.</p>

<h4>Wie werden die Teams zusammengesetzt?</h4>
<p>Wir versuchen vielseitige, interkulturelle und interdisziplinäre Teilnehmer zusammen zu bringen, deren Fähigkeiten, Erfahrungen und Hintergründe sich mit den anderen Teammitgliedern gut ergänzen. Wir stellen die Mitglieder der einzelnen Teams einander vor dem Wettkampf per E-Mail vor, so dass ihr die Gelegenheit habt, euch kennenzulernen, die Team-Struktur und den Arbeitsprozess in Ruhe zu besprechen.</p>

<h4>Muss ich Architekt oder Game-Designer sein, um mich zu bewerben?</h4>
<p>Nein! Du brauchst nur Leidenschaft für Interaktion. Teilnehmer bei früheren Wettbewerben waren Designer aller Art, aber auch Pädagogen, Philosophen und sogar ein Baby (wir finden das ist auch eine Spezialfähigkeit!).</p>

<h4>Gibt es spezielle Anforderungen an den Lebenslauf und das Portfolio?</h4>
<p>Bitte beschreibe Ausbildung, Qualifizierung, Berufserfahrung und Leidenschaften. Alles kann aufgenommen werden, so lange du meinst, es beschreibt, warum du der/die perfekte TeilnehmerIn an 72 Hour Interactions bist! Bitte schreibe uns auf Englisch, und sende keine  Dateien größer als 5 MB.</p>

<h4>Muss ich einen Lebenslauf und Portfolio für alle Gruppenmitglieder einreichen?</h4>
<p>Ja. Bitte sende einen kurzen Lebenslauf und Portfolio für alle Gruppenmitglieder. Wir empfehlen ein einheitlichea PDF, das eure gesamte Gruppe umfasst.</p>

<h4>Was sind die Kriterien für die Teilnahme?</h4>
<p>Relevante Arbeits- oder Projekterfahrung, Interesse daran, im öffentlichen Raum zu experimentieren, Interesse an Teamarbeit und einige grundlegende oder auch völlig verblüffende Fähigkeiten im Bauen oder Basteln.</p>

<h4>Wo ist das zentrale Camp und der Workshop?</h4>
<p>Wir schaffen ein zentrales Camp und einen Workshop in Laufweite der Wettkampfstätten. Hier wird es WLAN, Schreibtische und eine Arbeitsfläche für den Bau geben. Schlafplätze werden sich in der Nähe befinden.</p>

<h4>Was sind die 5 Wettkampforte und Missionen?</h4>
<p>Die fünf Wettkampforte werden erst zu Beginn der 72 Stunden bekannt gegeben, wenn die Teamleader sie aus einem Helm ziehen. Eine Gesamtübersicht der Umgebung wird im Vorfeld möglich sein.</p>

<h4>Kostet die Teilnahme am Wettbewerb etwas?</h4>
<p>Die Bewerbung ist kostenlos. Wenn du ausgewählt wirst, bekommt dein Team ein Budget für Material, Unterkunft und Verpflegung für die Dauer des Wettbewerbs von uns gestellt. Ihr müsst jedoch aus eigenen Mitteln nach Witten kommen und euch um eure eigene Versicherung kümmern.</p>