<h4>Can I still apply?</h4>
<p>No, the open call is closed.</p>

<h4>What is gameful architecture?</h4>
<p>That's what we want to find out through 72 Hour Interactions. If you have an idea, we want to see it!</p>

<h4>Can I propose existing designs or projects to be excuted during 72 Hour Interactions?</h4>
<p>No. All design and construction will be made in the course of the 72 Hour time frame.
As the competing teams are assembled for the competition, team work is a big thing for us.</p>

<h4>Is there a minimum or a maximum team size for application?</h4>
<p>Minimum: 1, Maximum: 6.
Following the selection process we team you up with other people, to make up larger teams of 10-12 participants. This is a big part of the fun, and means you'll get to see how other passionate creatives think and work in public space from very close. Very. Close.</p>

<h4>How do you put the teams together?</h4>
<p>We aspire to have varied intercultural and interdisciplinary participants that compliment each other's skills, experience and background. We will introduce the members of each team to each other before the competition via email, so that you can get to know each other a bit in advance, and discuss your team structure and work process.</p>

<h4>Do you need to be an architect or a game designer to apply?</h4>
<p>No. Only passion for interaction is needed. We have had designers of all sorts, educators, philosophers and even one baby (we think that's a skill) in past events.</p>

<h4>Are there specific requirements for the CV and portfolio?</h4>
<p>Describe education, skills, professional experience and passions. Anything can be included, as long as you feel it describes why you are the perfect 72 Hour Interactions participant. Please write us only in English, and send files less than 5MB total.</p>

<h4>Do you need a CV and portfolio for all group members?</h4>
<p>Yes. Please send a short CV and portfolio for all group members. We recommend creating a unified PDF that includes everybody.</p>

<h4>What are the criteria for participation?</h4>
<p>Previous and relevant work or project experience, a will to experiment in public space, and interest in team work and construction skills somewhere between basic and mind-blowingly amazing.</p>

<h4>Where is the central prefabrication site?</h4>
<p>We will provide a central camp and workshop in a facility close to the competition sites, it will have a wireless Internet connection, desks, and an area for construction. Sleeping arrangements will be made nearby.</p>

<h4>What are the 5 sites and missions?</h4>
<p>The five sites and missions will be revealed on take-off day, when team leaders draw them out of a helmet. A General overview of the area will be available on this site prior to take-off day.</p>

<h4>Does it cost anything?</h4>
<p>No. Application is free. If you get selected, your team will get a budget for materials and room and food for the duration of the competition. You will need to get to Witten by your own means and obtain personal insurance for yourself.</p>