
<div id="background" class="image-layer"></div>
<div id="disaster" class="image-layer"></div>

<video id="video" width="640" height="480" class="image-layer flip" autoplay></video>
<canvas id="canvas" width="640" height="480" class="image-layer flip"></canvas>

<div id="silhouette" class="image-layer flip"></div>

<div id="controls">
	<button id="snap">Snap photo</button>
	<button id="clear">Clear photo</button>
	<button id="mask">Toggle mask</button>
</div>