<%= render 'navigation'%>

<div id="front-cover">

	<div id="shadow"></div>
	
	<!--div id="canvas-outline"></div-->
	<!--img class="center" src="assets/logoschatten_neu.png"-->  
  
  <iframe class="center" width="650" height="366" src="//www.youtube.com/embed/3R_E8Ajo4LQ" frameborder="0" allowfullscreen></iframe>
  
  
  <div class="logo-text slide"><span>72 HOUR INTERACTIONS</span></div>

  <div class="apply-now slide">
  	<img src="assets/pfeilelinks.png" class="left">  
    <%= link_to t(:apply_now_button), url_for(:controller => 'welcome', :action => 'open_call') %>
    <img src="assets/pfeilerechts.png" class="right">  
  </div>


	<div class="credits-container">
		<div class="credits left">
			<%= t :subtitle_left_html %>
		</div>	

    
    <div class="logo-container">
      <a href="http://72hoururbanaction.com" target="_blank"><img src="assets/ua_logo72_w.png" width="150" alt="Urban Action Logo Lo Res"></a>
      <a href="http://urbanekuensteruhr.de"><img src="assets/logo-ukr.png" width="150" alt="Logo UKR"></a>
      <a href="http://invisibleplayground.com"><img src="assets/ip_logo72_w.png" width="150" alt="Logo UKR"></a>
    </div>
    
	</div>

	<!--div id="shadow2"></div-->
	
</div>

