
<div id="background" class="image-layer"></div>

<video id="video" width="640" height="480" class="image-layer flip mask" autoplay></video>
<canvas id="tracking-canvas" width="640" height="480" class="image-layer flip mask"></canvas>
<canvas id="photo-canvas" width="640" height="480" class="image-layer flip mask"></canvas>

<div id="silhouette" class="image-layer flip"></div>

<div id="controls">
	<button id="snap">Snap photo</button>
	<button id="clear">Clear photo</button>
	<button id="mask">Toggle mask</button>
	<button id="tracking">Toggle face tracking</button>
</div>