<canvas id="canvas" width="640" height="425"></canvas>
<img class="city-shape" src="/assets/background_1_transparent.png" width="640" height="425" alt="Background 1 Transparent">
<video id="video" width="640" height="425" autoplay></video>

<button id="snap">Snap photo</button>
<button id="clear">Clear photo</button>
