<canvas id="canvas" width="640" height="480"></canvas>
 
<div id="titles" class="image-layer">
 	<input id="title" class="poster-title" value="Title">
 	<input id="subtitle" class="poster-title" value="Subtitle">
</div>
  
<select id="select-background">
  <option value="0">none</option>
  <option value="1">hagen</option>
  <option value="2">witten</option>
</select>

<select id="select-disaster">
  <option value="0">none</option>
  <option value="1">lightning</option>
  <option value="2">fire</option>
</select>

<select id="select-silhouette">
  <option value="0">none</option>
  <option value="1">godzilla</option>
  <option value="2">guy</option>
  <option value="3">guy sepia</option>
</select>

<button id="snap">Snap photo</button>
<button id="clear">Clear photo</button>
