<h1>The Generator</h1>
<canvas id="canvas" width="640" height="480"></canvas>
 
<div id="titles" class="image-layer">
 	<input id="title" class="poster-title" value="Title">
 	<input id="subtitle" class="poster-title" value="Subtitle">
</div>

<br>

<div id="selectors">
<label>City</label>
<select id="select-background">
  <option value="0">none</option>
  <option value="1">hagen</option>
  <option value="2">witten</option>
</select>

<label>Disaster</label>
<select id="select-disaster">
  <option value="0">none</option>
  <option value="1">lightning</option>
  <option value="2">fire</option>
</select>

<label>You</label>
<select id="select-silhouette">
  <option value="0">none</option>
  <option value="1">godzilla</option>
  <option value="2">guy</option>
  <option value="3">guy sepia</option>
</select>
</div>

<button id="snap">Ready</button>
<button id="clear">Back</button>
<button id="submit">Save & Share</button>

<h1>The Gallery</h1>
<div id="poster-gallery">

    <% @posters.each do |poster| %>
	<div class="poster">
		<%= image_tag poster.image.url(:medium) %><br>
		<a href="#" 
		  onclick="window.open(
		      'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent('<%= absolute_attachment_url(poster.image) %>'), 
		      'facebook-share-dialog', 
		      'width=626,height=436'); 
		    return false;">
		    <img src="/assets/facebook.png"/>
		</a>
		<a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= absolute_attachment_url(poster.image) %>" data-lang="en" data-related="anywhereTheJavascriptAPI" data-count="none">Tweet</a>

	</div>
	<% end %>
	
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>