<%= render 'navigation' %>

<div id="content">

	<section id="overview">
			<h3>Mach mit!</h3>
      <p>Vom 21. bis 27. Juli kommen 5 internationale Teams, zusammengesetzt aus Architekten, Handwerkern, Designern, Bastlern, Spielern, Bühnenbildnern, Stadtplanern und Philosophen aus der Region und aus aller Welt nach Witten, um an dieser speziellen WM teilzunehmen. 300 Menschen aus 51 Ländern haben sich für die Teilnahme beworben, 60 wurden ausgewählt. Wir sind von dieser regionalen und internationalen Resonanz begeistert und freuen uns auf die WM!</p>

      <p>Die Teams haben 72 Stunden Zeit, um  – mitten in Witten – jeweils ein temporäres Bauwerk zu entwerfen und zu realisieren, das Menschen spielerisch zusammenbringt und die Stadt bereichert.</p>
      
<p>Wir würden uns freuen, wenn sich möglichst viele verschiedene Menschen aus Witten an der Weltmeisterschaft beteiligen. Es gibt ganz verschiedene Arten, bei 72 HOUR INTERACTIONS mitzumachen – wir suchen noch <b>VOLUNTEERS</b>, <b>AUTO-EXPERTEN</b>, <b>MUSIKER</b>, <b>ORTSKUNDIGE</b> für Nachttouren und <b>ANGELS</b> zur technischen/handwerklichen Unterstützung der Teams. Wenn Sie Interesse oder eine ganz eigene Idee haben, kommen Sie mit uns ins Gespräch!</p>
  </section>

	<section id="volunteers">
    <h3>VOLUNTEERS</h3>

<p>Keine Weltmeisterschaft würde ohne die tatkräftige Unterstützung von freiwilligen Helfern – Volunteers – stattfinden können! Gleichzeitig ist Mithelfen die beste Art, eine Weltmeisterschaft aus der Nähe zu erleben. Als Volunteer lernst du tolle Leute aus der ganzen Welt kennen, bekommst Einblick in aktuelle künstlerische, technische, soziale Strategien, den Stadtraum zu gestalten, und wirst Teil der Aktion der Community rund um 72 Hour Interactions. Spaß garantiert! Und wir sind dir unendlich dankbar, wenn du uns hilfst, diese WM in Witten zu stemmen… :) Du bist super!</p>

<p><b>WANN?</b> Mittwoch-Sonntag, 23.-27. Juli, Schichten nach Absprache</p>
<p><b>WO?</b> Im Festival Camp, an den Wettkampforten und den Locations des Begleitprogramms (alles in Witten)</p>
<p><b>WAS?</b> Wir suchen Volunteer-Unterstützung in der Küche, der Werkstatt, den Zeremonien, dem Info-Punkt, bei Fahrten und Einkäufen und bei der Bewachung der Camp-Schleuse.</p>

<p><b>KONTAKT</b> Bei Interesse melde dich bitte über <a href="https://docs.google.com/forms/d/1lcyx2lB_ZQG-8y7ZRX_4LxF3k4og8VSjWzYlSCXp1T0/viewform">dieses Formular</a> an
oder schreibe an <a href="mailto:volunteers@72hourinteractions.com">volunteers@72hourinteractions.com</a></p>

  </section>

	<section id="car-corso">
    <h3>TUNING-FREAKS, OLDTIMER-BEGEISTERTE, FAHRZEUG-KÜNSTLER aller art</h3>
<p>Als Teil der Eröffnungs-Zeremonie der WM wird ein Auto-Korso die Parade der 5 internationalen Team durch die Innenstadt von Witten begleiten. Wir sind auf der Suche nach einer bunten Mischung aus phantasievollen, lustigen, extrem-getunten oder liebevoll wiederhergestellten Fahrzeugen. Jedes der Teams wird eine von fünf Städten des Ruhrtals repräsentieren – Hagen, Hattingen, Herdecke, Wetter oder Witten und von einem Auto begleitet werden. 5 Teams, 5 Städte, (mindestens) 5 Autos. Wenn Sie ein tolles Auto besitzen oder eine Idee haben, wer gerne mitrollen würde, freuen wir uns, von Ihnen zu hören!</p>

<p><b>WANN?</b> Mittwoch, 23. Juli, 15:30-18:00 </p>

<p><b>WO?</b> Treff- und Startpunkt des Autokorsos ist der Humboldt-Platz in Witten</p>

<p><b>WAS?</b> Um 15:30 treffen und besprechen wir uns am Humboldt-Platz und dekorieren die Fahrzeuge,
um 16:30 geht es los (die genaue Route wird vor Ort bekannt gegeben)! Um 17:00 kommen wir am Busbahnhof an, und bleiben für die Eröffnungs-Zeremonie, die um 18:00 endet.</p>

    <p><b>KONTAKT</b> Bei Intereresse oder Hinweisen wenden Sie sich bitte an 
    <a href="mailto:sebastian@invisibleplayground.com">Sebastian Quack</a> oder 0151-23360788</p>

  </section>

	<section id="music">
    <h3>MUSIKER, BANDS, STRASSEN-KÜNSTLER</h3>

<p>Jede Weltmeisterschaft lebt von dem, was rund um den eigentlichen Wettkampf passiert: Spannung, gute Gespräche, Anfeuerung, und natürlich gaaanz viel Musik und Kreativität! Deshalt suchen wir Musiker, Bands und Straßen-Künstler aus Witten und Umgebung, um mit ihnen zusammen die Eröffnungs-Zeremonie und Siegerehrung, sowie das finale Ausstellungs-Programm am Sonntag zu gestalten.</p>

<p><b>OPTION 1: Eröffnungs-Zeremonie</b><br>
WANN? Mittwoch, 23. July, 16:00-18:00 
WO? Festival Info-Punkt (Kornmarkt)
WAS? Werde Teil der feierlichen Zeremonie! (Start der Zeremonie 17:00, Treffen 16:00 für Aufbau)</p>

<p><b>OPTION 2: Siegerehrung</b><br>
WANN? Samstag, 26. Juli, 19:00-21:00
WO? Stadtgallerie oberstes Parkdeck
WAS? Werde Teil der feierlichen Siegerehrung! (Start der Siegererhung 20:00, Treffen 19:00 für Aufbau)</p>

<p><b>OPTION 3: Öffentlicher Ausstellungs-Tag</b><br>
WANN? Sonntag, 27. Juli, irgendwann zwischen 14:00 and 17:00
WO? An einem oder mehreren der noch supergeheimen Wettkampforte
WAS? Am Sonntag sind alle eingeladen, gemeinsam die fertigen Installationen der Teams anzuschauen und auszuprobieren. Werde Teil einer entspannten, lebhaften Atmosphäre an diesem ganz besonderen Tag!</p>

    <p><b>KONTAKT</b> Bei Intereresse oder Hinweisen wenden Sie sich bitte an 
    <a href="mailto:sebastian@invisibleplayground.com">Sebastian Quack</a> oder 0151-23360788</p>


  </section>
  
  <section id="tours">
    
    <h3>TOUR-GUIDES: WITTEN-KUNDIGE, HEIMAT-VEREINE, EXPERTEN DER STADTGESCHICHTE UND -NATUR</h3>
    <p>Als Teil des öffentlichen Begleitprogramms der Weltmeisterschaft organisieren wir einen Stadt-Spaziergang, der durch das Gebiet der Interventionen führt und Hintergründe zu Geschichte, Gegewnwart oder Natur des zentralen Stadtgebiets von Witten bietet. Während die Teams an den Wettkampforten im Schlussspurt sind, schauen wir uns die Stadt ganz in Ruhe an, vom Sonnenuntergang bis in die Nacht.</p>

    <p><b>WANN?</b> Freitag, 23. Juli, 21:30-23:00 </p>

    <p><b>WO?</b> Treffpunkt ist der Festival Info-Punkt am Kornmarkt</p>

    <p><b>WAS?</b> Sie besitzen Spezialkenntnisse über das Wittener Stadtzentrum und haben Lust, sie mit anderen im Rahmen eines Spaziergangs zu teilen? Wir freuen uns, von Ihnen zu hören.</p>

    <p><b>KONTAKT</b> Bei Intereresse oder Hinweisen wenden Sie sich bitte an 
    <a href="mailto:sebastian@invisibleplayground.com">Sebastian Quack</a> oder 0151-23360788</p>
    
  </section>
  

	<section id="angels">

<h3>ANGELS: SCHREINER, TISCHLER, ELEKTRIKER, SCHWEISSER, GÄRTNER, HACKER & BASTLER</h3>

<p>Werden Sie zum Angel der Weltmeisterschaft in Witten! Zur professionellen Unterstützung der WM-Teams in den Werkstätten im Camp und für Spezialeinsätze an den Wettkampforten suchen wir Experten der o.g. Fachbereiche.</p>

<p><b>OPTION 1: In der Werkstatt im Camp</b><br>
WANN? Donnerstag-Samstag, 24.-26. Juli, Zeiten nach Absprache
WO? Im Festival-Camp in der Breddeschule in Witten Mitte
WAS? Im internationalen Festival-Camp arbeiten die Teams rund um die Uhr um Teile Ihrer Installationen zu entwerfen und zu bauen. Hier sind insbesondere Fähigkeiten bei der Holzverarbeitung gefragt. Helfen Sie mit, damit jeder Handgriff der müden Teilnehmer sitzt und sie sicher und gesund bleiben!</p>

<p><b>OPTION 2: Spezialeinsätze</b><br>
WANN? Donnerstag-Samstag, 24.-26. Juli, Zeiten nach Absprache
WO? Im Festival-Camp, an den Wettkampforten oder in Ihrer Werkstatt
WAS? Wenn die Teams Hilfe bei der Elektro-Installation, der Gärtnerei oder anderen Spezialtätigkeiten brauchen, rufen sie einen der Angels an. Wir stimmen uns im Vorfeld ab, was Ihren Support und Ihre Verfügbarkeit angeht und geben Ihren Kontakt an die Teams weiter.</p>

<p><b>KONTAKT</b> Bei Intereresse oder Hinweisen wenden Sie sich bitte an 
<a href="mailto:jenny@invisibleplayground.com">Jennifer Aksu</a> oder 0151-23360788</p>


  </section>


</div>