<%= render 'navigation' %>

<div id="content">

	<section id="open_call_info">
			<h3>Jetzt bewerben!</h3>
      <p><iframe class="center" width="650" height="366" src="//www.youtube.com/embed/z_wUT1QUZgM" frameborder="0" allowfullscreen></iframe></p>
			<p>hello</p>
	</section>

	<section id="open_call_form">
			<h3>Hier ausfüllen</h3>
			<p>hello</p>
	</section>

	<section id="open_call_faw">
			<h3>FAQ</h3>
			<p>hello</p>
	</section>

</div>