<%= render 'navigation' %>

<div id="content">

	<section id="schedule">

    <div class="left-column">

			<h3>Das öffentliche Begleitprogramm</h3>    
      <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=z3ErQr2f55pg.kaWaxwecSpKg" height="480"></iframe>
  </div>
    
      <p>Werde vom <b>22.-27. Juli</b> Teil der Aktion und spiele eine Hauptrolle bei der WM! Lerne die Teams kennen und erfahre mehr über ihren Hintergrund. Nimm an der Wettkampf-Atmosphäre teil, erlebe 72 Stunden in nur 72 Minuten, erkunde Witten bei Nacht, diskutiere und bewerte die Ergebnisse.</p>

<h4>INFO-PUNKT</h4>
<label>Mittwoch-Sonntag, 23.-27.7., 12:00-19:00, “Feldherrenhalle” am Kornmarkt</label>
<p>Hier erfährst du alles über den aktuellen WM-Stand und startest in die verschiedenen Touren.</p>

<h4>PUBLIC VIEWING</h4>
<label>immer am Info-Punkt</label>
<p>Ein Videoloop mit Filmen über das Feld zwischen Architektur und Spiele-Design inkl. Präsentationen der Teams.</p>

<h4>OPEN MIC</h4>
<label>Dienstag, 22.7., 19:00, Stellwerk, Ruhrstraße 39</label>
<p>Lerne in entspannter Atmosphäre die Teilnehmer kennen, die am Vorabend des Wettkampf-Starts ihre Arbeit und Hintergründe präsentieren!</p>

<h4>ERÖFFNUNGSZEREMONIE</h4>
<label>Mittwoch, 23.7., 17:00-18:00, Rathausplatz</label>
<p>Die letzten Momente bevor die 72-Stunden-Uhr gestartet wird. Während der spektakulären Eröffnungszeremonie erhalten die Teams ihre Missionen und erfahren an welchem der fünf supergeheimen Orte in Witten sie die nächsten drei Tage und Nächte arbeiten werden.</p>

<h4>72-MINUTEN-SPIEL</h4>
<label>Donnerstag + Freitag, 24. + 25.7., 16:00; Samstag + Sonntag, 26. + 27.7., 15:00, Start immer am Info-Punkt</label>
<p>Keine 72 Stunden Zeit, um die Welt zu verändern? Versuch’s in 72 Minuten! Erleb deine eigene Weltmeisterschaft von Anfang bis Ende. Bilde Teams, erhalte eine Mission, entwirf deine eigene Intervention im öffentlichen Raum. Und vergiss nicht die Schlafzeiten in deinem Team zu managen! Geeignet für Freunde und Familien (jede Altersgruppe und jeder Beziehungs-Status)</p>

<h4>SPIELE-TEST-TOUREN</h4>
<label>Donnerstag + Freitag, 24. + 25.7., 18:00, Start am Info-Punkt</label>
<p>Die Teams brauchen deine Hilfe! Probiere die sich im Bau befindlichen Interventionen während eines Spaziergangs zu den Wettkampf-Orten selbst aus. Komm ganz nah an den kreativen Prozess heran und – we weiß? – trage die Idee bei, die am Ende die WM gewinnt.</p>

<h4>ABEND-TOUR</h4>
<label>Freitag, 25.7., 21:30, Start am Info-Punkt</label>
<p>Komm mit auf einen Abend-Spaziergang durch die Innenstadt von Witten. Während um dich herum die letzte Nacht der Weltmeisterschaft anbricht, nimm dir Zeit und lerne etwas über Geschichte, Natur und ganz persönliche Perspektiven auf Witten. Der Spaziergang wird geführt von lokalen Vereinen und Initiativen.</p>

<h4>SIEGEREHRUNG</h4>
<label>Samstag, 26.7., 20:00, StadtGalerie Witten, Hammerstraße 9-11</label>
<p>Kletter auf die oberste Etage der StadtGalerie und nimm an der einmaligen Abschluss-Zeremonie der WM teil! Die Jury kürt das Sieger-Team. Tränen des Glücks garantiert!</p>

<h4>PARTY</h4>
<label>Samstag, 26.7., 22:00, unikat(club), Westfalenstraße 19</label>
<p>Sobald die Tränen getrocknet sind, komm mit und feier mit allen WM-Teilnehmern als gäbe es kein Morgen...</p>

<h4>OFFENER SONNTAG</h4>
<label>Sonntag, 27.7., 14:00-17:00, Innenstadt</label>
<p>Erkunde die fertigen Installationen in der Innenstadt von Witten. Sprich mit den Teams, stimm für den Publikumspreis ab und klaue die besten Ideen für deine eigene Nachbarschaft!</p>

<h4>ABSCHLUSS-DISKUSSION</h4>
<label>Sonntag, 27.7., 17:00, Stellwerk, Ruhrstraße 39</label>
<p>Finde heraus, wer den Publikums-Preis gewonnen hat und nimm an der Abschlussdiskussion mit Jury-Mitgliedern über die Zukunft von spielbarer Architektur teil.</p>

</section>

</div>