<%= render 'navigation' %>

<div id="content">

	<section id="schedule">

    <div class="left-column">

			<h3>The Public Program</h3>    
      <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=z3ErQr2f55pg.kaWaxwecSpKg" height="480"></iframe>
  </div>

      <p><b>From July 22nd - 27th</b>, become part of the action and play a major role! Meet the teams and learn about their backgrounds, participate in a true World Championship atmosphere, experience 72 hours in just 72 minutes, explore Witten by night, discuss and judge the results.</p>







<h4>INFO POINT</h4>
<label>Wed-Sun, July 23-27, 12-7pm in “Feldherrenhalle” at Kornmarkt</label>
<p>Drop by to stay up to date and meet up for the various tours. </p>

<h4>PUBLIC VIEWING</h4>
<label>at the Info Point</label>
<p>A loop of films and presentations that explore the field between game design and architecture.</p>

<h4>OPEN MIC</h4>
<label>Tue, July 22, 7pm, Stellwerk, Ruhrstraße 39</label>
<p>Get to know the participants as they showcase their backgrounds and work.</p>

<h4>OPENING CEREMONY</h4>
<label>Wed, July 23, 5pm, Rathausplatz</label>
<p>The final moments before the clock is started. During a spectacular ceremony involving cars, flags and music, the teams receive their mission and find out which of the five super-secret sites in Witten they will be working on during the next 72 hours.</p>

<h4>72 MINUTES GAME</h4>
<label>Thu & Fri, July 24 & 25, 4pm; Sat & Sun, July 26 & 27, 3pm, starts at the Info Point</label>
<p>You don’t have 72 hours to change the world? Try it in 72 minutes! Experience your own world championship from start to finish. Form teams, get a mission, and create a real intervention in public space. Don’t forget to manage your sleep!</p>

<p>Suitable for friends and families of any age and relationship status.</p>

<h4>PLAYTESTING TOURS</h4>
<label>Thu & Fri, July 24 & 25, 6pm, starts at the Info Point</label>
<p>The championship teams need your help. Try out the games and interventions during a walk from site to site. Get up close to the creative process and – who know’s? – contribute the idea that wins the championship!</p>

<h4>NIGHT TOUR</h4>
<label>Fri, July 25, 9:30pm, starts at the Info Point</label>
<p>Join an evening walk through the center of Witten. While the teams go into their final night of frantic construction, take time and learn about history, nature and very personal views of Witten. Led by representatives of local associations.</p>

<h4>CLOSING CEREMONY</h4>
<label>Sat, July 26, 8pm, StadtGalerie Witten, Hammerstraße 9-11</label>
<p>Climb to the top of StadtGalerie shopping mall to take part in the magnifisent closing ceremony of the championship and whitness the jury award ceremony for the best project. Tears of joy guaranteed.</p>

<h4>PARTY</h4>
<label>Sat, July 26, 10pm, unicat(club), Westfalenstraße 19</label>
<p>Once the tears are dry you’re invited to celebrate with all participants of the championship like there is no tomorrow.</p>

<h4>PUBLIC PLAY DAY</h4>
<label>Sun, July 27, 2-5pm, various locations</label>
<p>Take a whole day to explore and play with the finished projects in the center of Witten. Talk to the participants, cast your votes for the audience award and plan out what idea you want to steal for your own neighbourhood!</p>

<h4>PANEL DISCUSSION</h4>
<label>Sun, July 27, 5pm, Stellwerk, Ruhrstraße 39</label>
<p>Find out who won the audience award and join the Jury in a discussion on the future of gameful architecture.</p>

</section>

</div>