<%= render 'navigation' %>

<div id="content">

	<section id="teams">
			<h3>Meet the Teams</h3>
      <p>5 teams take part in the challenge. Each of the 5 teams represents one city in the Ruhr Valley and consists of a mix of local residents and participants joining from all over the world.</p>
  </section>

	<section id="hagen">
      <div class="left-column">
        <img src="assets/team_logos/HAGEN BILDER.png"/>
      </div>
			<h4>Hagen Bilder</h4>
      <p>Brett Hunter (US), Julia Borchardt (DE), Anne-Laur Gestering (DE), Dale Parson (NO), Juan Vallejo (CO), Frederik De Schmedt (BE), David Valle (CO), Fabio Lopez (CO), Denise Winter (DE), Lesley Bain (US), Kim Dallarmi (DE)</p>
      <p>Awarded by the Jury for "Best Intimacy"</p>
      <p>Team-Blog: <a target="_blank" href="http://hagenbilder72hi.tumblr.com/">http://hagenbilder72hi.tumblr.com/</a>
  </section>

	<section id="hattingen">
      <div class="left-column">
        <img src="assets/team_logos/HattingenDragonslayers_Plain.png"/>
      </div>
        <h4>Hattingen Dragonslayers</h4>
<p>Birga de Graaf (DE), Franziska Sprengel (DE), Danton Spina (US), Ian Nicholson (US), Lindsay Farrell (US), Daniel King (US), Alex Coulombe (US), Morgan Shaw (US), Piotr Wiśnioch (PL), Daria Przybyłowska (PL), Wróbel Przemysław (PL), Lars Schuchert (DE)</p>
        <p>Awarded by the Jury for "Best Engagement"</p>
        <p>Team-Blog: <a target="_blank" href="http://hattingen-dragonslayers.tumblr.com/">http://hattingen-dragonslayers.tumblr.com/</a>

  </section>

	<section id="herdecke">
      <div class="left-column">
        <img src="assets/team_logos/herdeckesawhorses.png"/>
      </div>
      <h4>Herdecke Sawhorses</h4>
      <p>Marcus Boinet (FR), Charlotte Thon (FR), Mariateresa Paolicelli (IT), Matteo Uguzzoni (IT), Augusto Pirovano (IT), Claudio Pesoli (IT), Anna Foresio (IT), Marie Sammet (DE), Jirka Wolff (DE), Angelika Weissheim (DE), Mathias Wunderlich (DE), Jason Corace (US)</p>
      <p>Awarded by the Jury for "Best Tranformation" and the Grand Prize</p>
      <p>Team-Blog: <a target="_blank" href="http://sawhorses72hi.tumblr.com/">http://sawhorses72hi.tumblr.com/</a>

  </section>

	<section id="wetter">
      <div class="left-column">
        <img src="assets/team_logos/better_wetter.png"/>
      </div>
        <h4>Better Wetter</h4>
        <p>Kaho Abe (US/JP), Ramsey Nasser (US/LB), Sandra Panzer (DE), Carolin Blaim (DE), Lilli Unger (DE), Eva-Maria Fehse (DE), George Sinclair (GB), Tom Clowney (GB), Ella Tomat (IT), Guntram Walter (DE), Eszter Nemethi (HU)</p>
        <p>Awarded by the Jury for "Best Mystery"</p>
        <p>Team-Blog: <a target="_blank" href="http://betterwetter72hi.tumblr.com/">http://betterwetter72hi.tumblr.com/</a>

  </section>

	<section id="witten">
      <div class="left-column">
        <img src="assets/team_logos/WTP_Logo.png"/>
      </div>
        <h4>Witten Truffel Pigs</h4>
        <p>Anna Theresa Heimbrock (DE), Sophie Goethe (DE), Paul Klever (DE), Friedrich Neukirchen (DE), Gianni Hanneforth (DE), Mathias Burke (DE), Silvia Groeger (DE), Heather Kelley (US), Marco Poblete (PE), Greg Foster (GB), Etienne Duval (FR), Nancy Naser Al Deen (LB)</p>
        <p>Awarded by the Jury for "Best Experience" and by the Audience in Witten with the Public Prize</p>
        <p>Team-Blog: <a target="_blank" href="http://wittentrufflepigs72hi.tumblr.com/">http://wittentrufflepigs72hi.tumblr.com/</a>
        
        <p></p>
  </section>

</div>