/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require owl-carousel/owl.carousel.css
 *= require owl-carousel/owl.theme.css
 */

/************** RESET ***************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body { height: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/****************** FONTS, COLORS *****************/

@font-face {
	font-family: Steelfish;
	src: url("/assets/steelfishrg.woff");
}

@font-face {
	font-family: Steelfish;
	src: url("/assets/steelfishrgit.woff");
	font-style:italic;
}

body {
	font-family: Roboto, sans-serif;
	background-color:#fff;
	color:#F0F;
}

a {
	color:#f0f;
	text-decoration:none;
}

em {
	color: #F0F;
}

b {
	font-weight: bold;
}

/**** BORDERS ****/

nav .slide, section, #generator canvas, #mainframe, #canvas-outline, section form, .selector-container, #canvas-inline {
	border:dashed 1px #f0f;
}

nav .slide, section form.border-bottom {
	border-width:0 0 1px 0;
}

section, section form.border-top {
	border-width:1px 0 0 0;
}

.selector-container {
	border-width:1px 0 1px 0;	
}

#canvas-outline {
	border:dashed 1px #fff;
}

#canvas-inline {
	border:dashed 1px #f0f;
}


/****************** ELEMENTS *********************/

/**** MENUS ****/

#navigation {
	position:fixed;
	background-color: #fff;
	top: 0px;
	z-index:3;
	width:100%;
	padding-top:5px;
}

#navigation.transparent {
	background-color: transparent;
}

.slide {
	max-width:1024px;
	margin:auto;
}

#navigation .slide {
	height: 50px;
}

#small-logo {
	float: left;
	z-index: 3;
	cursor:pointer;
	margin-right: 50px;
	z-index: 4;
}

ul.navigation {
	float: left;
	max-width: 500px;
}

ul.navigation li {
	display:block;
	float:left;

	font-family: Roboto, sans-serif;
	font-weight: 700;
	font-size: 13px;
	line-height: 20px;

	position: relative;
	z-index: 5;
	text-transform: uppercase;
	color: #f0f;

	margin-right: 20px;
}

/*ul.navigation li a:hover, #language a:hover {
	color: #fff;
}*/


#language {
	float:right;
	white-space:nowrap;
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 13px;
	line-height: 20px;
	
}

.nav-bg {
	height: 90px;
	background-color: #fff;
	width: 100%;
	/* position: fixed; */
	top: 0;
	z-index: 1;
}

.nav-bg .slide {
	position: relative;
}
	
.nav-bg .slide a {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 22px;
	color: #f0f;
	position: absolute;
	top: 50px;
}

a.active {
    pointer-events: none;
	color: #000;
	cursor: default;
}

.nav-bg .prev {
	left: 0px;
}

.nav-bg .next {
	right: 0px;
}

.nav-bg .slide .sharing-menu {
	width: 400px;
	position: relative;
	top: 63px;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

.nav-bg .slide .sharing-menu span, .nav-bg .slide .sharing-menu a {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 13px;
	line-height: 20px;	
	text-transform: uppercase;
	top: 0px;
	position: relative;
	vertical-align: middle;
}

.nav-bg .slide .sharing-menu span {
	color: #000;
	float: left;
}

.nav-bg .slide .sharing-menu a {
	float: right;
	margin-left: 20px;
}

/**** FRONT PAGE ****/

#front-cover {
    /*background-image: url("/assets/Ruhrtal_bei_nebel_-21.jpg");*/
		/* background-image: url("/assets/7794708534_37e6d12e0b_h.jpg");*/
		/*background-image: url("/assets/7857038306_37e0738741_o.jpg");*/
	
		background-image: url("/assets/Handshake.jpg");
	
	
    background-attachment:fixed;
    background-size: cover;

    width:100%;
	height: 120%;
	position: absolute;
	top: 0;

	z-index: 2;
	/* cursor:pointer; */

	box-shadow: inset 0px 5px 600px #222;
}

#shadow {
	width: 100%;
	height: 80px;
	z-index: 3;
	position: fixed;
	top: -80px;
	box-shadow: 0px 5px 200px #000;
}

#front-cover img.center, #front-cover iframe.center {
	display:block;
	margin: 0 auto;
	z-index: 5;
	position: relative;
	width: 650px;
	margin-top: 70px;
}

.logo-text {
	width: 900px;
	height: 100px;
	margin: 0 auto;
	z-index: 4;
	position: relative;
	text-align: center;
	top: -20px;
}

.logo-text span {
	font-family: Steelfish;
	color: #fff;
	font-size: 88px;
	letter-spacing: 8px;
	text-shadow: 1px 1px #222;
}

#canvas-outline {
	width: 400px;
	height: 570px;
	position: absolute;
	top: 90px;
	left: 50%;
	margin-left: -200px;
	z-index: 3;
}

.apply-now {
	z-index: 4;
	position: relative;
	margin-top: 5px;
}

.apply-now .left {
	position: absolute;
	left: 0;
	top: 0;
}

.apply-now .right {
	position: absolute;
	right: 0;
	top: 0;
}

.apply-now a {
	font-family: Roboto;
	color: #f0f;
	font-size: 34px;
	min-width: 200px;
	display: block;
	margin: 0 auto;
	text-align:center;
	position: relative;
	top: -7px;
	text-shadow: 1px 1px #222;
}

/*
.apply-now a:hover {
	color: #fff;
}
*/

.apply-now a.countdown {
	display: none;
}

/*** credits ****/

.credits-container {
	width: 1024px;
	margin: 0 auto;
	position: relative;
}

.credits-container .logo-container {
	width: 470px;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}

.logo-container img {
	vertical-align:middle;
}

.credits {
	font-family: Steelfish;
	text-shadow: 1px 1px #222;
	font-size: 32px;
	line-height: 40px;
	letter-spacing: 0.2px;
	color: #fff;
	text-transform: uppercase;
	z-index: 5;
	margin:0 auto;
}

.credits em {
	color: #f0f;
	text-transform: uppercase;
}

.credits em a {
	color: #f0f;
}

.credits.left {
	left: 0px;
	letter-spacing: 1px;
	text-align: center;
}

.credits.right {
	right: 0px;
	text-align: right;
}

/*** generator ***/

#generator {
	display: none;
	height:572px;
	width: 1024px;
	margin: 0 auto;
	margin-top: 90px;	
	position:relative;
}

#step-numbers {
	float: left;
	width: 280px;
}

#step-numbers div {
	float: left;
	width: 137px;
	height: 190px;
	background-repeat: none;
}

#step-number-1 { background-image: url('numbers/1strich.png'); }
#step-number-2 { background-image: url('numbers/2strich.png'); }
#step-number-3 { background-image: url('numbers/3strich.png'); }
#step-number-4 { background-image: url('numbers/4strich.png'); }
#step-number-5 { background-image: url('numbers/5strich.png'); }
#step-number-6 { background-image: url('numbers/6strich.png'); }

#step-numbers div {
	cursor:pointer;
}
#step-numbers .active-step {
	cursor:default;
}

#step-number-1.active-step { background-image: url('numbers/1.png'); }
#step-number-2.active-step { background-image: url('numbers/2.png'); }
#step-number-3.active-step { background-image: url('numbers/3.png'); }
#step-number-4.active-step { background-image: url('numbers/4.png'); }
#step-number-5.active-step { background-image: url('numbers/5.png'); }
#step-number-6.active-step { background-image: url('numbers/6.png'); }

#controls {
	float: right;
	width: 210px;
}

#controls .step-controls {
	display:none;
}

#controls .step-controls.active-step {
	display:block;
}

#controls .step-controls h2 {
	font-family: Steelfish;
	font-size: 53px;
	line-height: 60px;
	margin-bottom: 20px;
	color: #f0f;
}

#controls .step-controls p {
	font-family: 'Roboto', sans-serif;
	color: #f0f;
	font-size: 13px;
	line-height: 20px;
	margin-bottom: 20px;
}

span.wait {
	font-family: 'Roboto', sans-serif;
	color: #f0f;
	font-size: 13px;
	line-height: 20px;
}

#controls .selector-container {
	padding: 20px 0px 20px 0px;
	margin-bottom: 20px;
}

#controls .selector-container select {
	width: 100%;
}

#controls button {
	width: 100%;
}

#clear {
	display: none;
}

#generator-step-nav {
	font-family: Steelfish;
	font-size: 53px;
	line-height: 60px;
	position: absolute;
	bottom: 0px;
}

#generator-step-nav div {
	cursor: pointer;
	float: left;
	margin-right: 20px;
}

#prev-step {
	display: none;
}

#generator canvas {
	width:400px;
	height:565px;
	position: absolute;
	margin-left: -200px;
	left: 50%;
	top: 0px;		
}

#canvas-inline {
	width:380px;
	height:545px;
	position: absolute;
	margin-left: -190px;
	left: 50%;
	top: 10px;		
} 

video {
	display: none;
}

#titles {
	top: 400px;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	width: 400px;
	display: none;
}

.poster-title {
	background-color: rgba(0,0,0,0.1);
	border: none;
	z-index: 10;
	color: #fff;	
	margin: 0 auto;
	text-align: center;
	width: 100%;
	font-family: Steelfish;
}

#title {
	font-size: 50px;
}

#subtitle {
	font-size: 20px;
}



/**** POSTERS ****/

#gallery {
	/*margin-top: 90px;*/
	/* display: none;*/
}

#carousel {
	width:100%;
}

#carousel li {
  display: block;
  width: 100%;
  height: auto;
  text-align:center;
}

#gallery .credits-container {
	padding-top: 6px;
	height: 100px;
	z-index: 0;
}

#gallery .credits {
	color: #333;
	text-shadow: none;
}

.prev, .next {
	display:none;
}

/** regular frames **/

#carousel li img.poster-image {
	width: 400px;
}


/*** main frame ***/

#mainframe {
	width:400px;
	height:565px;
	margin:auto;
}

#mainframe a {
	font-family: Steelfish;
	font-size: 53px;
	line-height:60px;
	text-decoration: underline;
	color: #333;
	text-transform: uppercase;
}

#mainframe a.pink {
	color: #f0f;
}

h1 {
	text-transform:uppercase;
	text-align:center;
	color: #fff;
}

h1 em {
	color: #f0f;
}


/**** content SECTIONS ****/

#content {
	display: block;
	margin-bottom: 20px;
	/*margin-top: 100px;*/
}

section {
	max-width:1024px;
	margin:auto;	
	clear: both;
	padding-top: 20px;
}

h3 {
	font-family: Steelfish;
	font-size: 24px;	
	text-transform:uppercase;
	margin-bottom: 1.5em;
	color: #333;
}

section p {
	font-family: Roboto, sans-serif;
	font-size: 13px;
	line-height: 20px;
}

p {
	color: #333;
}

section h3 {
	float: left;
}

section p, form {
	float: right;
	width: 66%;	
	font-size: 14px;
	letter-spacing:120%;
	margin-bottom: 1.5em;
}

section h4 {
	float: right;
	width: 66%;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 120%;
	margin-bottom: 1.5em;
	color: #333;
}

#open_call_video {
	margin-top: 50px;
}

#form_response {
	display:none;
	margin-bottom: 0;
}

#form_response p {
	margin-bottom: 0;
}


/**** FORMS ****/

section form label {
	display:block;
	margin-bottom:1em;
	clear: both;
}

textarea {
	width:100%;
	display:block;
}

section textarea {
	height:120px;
	font-size: 14px;
}

section input, textarea {
	background-color: #f0f;
	border: 0;
	color: #fff;
	font-size: 14px;
	margin-bottom: 20px;
}

section input[type="text"], section input[type="email"] {
	width: 66%;
}

section input[type="submit"] {
	width: 20%;
	float: right;
	text-align: right;
	cursor:pointer;
	background-color:white;
	color:#F0F;
	text-transform: uppercase;
	font-weight: bold;
}

#championship form {
	padding-top: 20px;
}


/*************** RESPONSiVE ************/

.owl-item {
	position:relative;
}





